<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>PlayTrust Login</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">
  <div class="container mt-5">
    <div class="card shadow p-4 mx-auto" style="max-width:400px;">
       <h2 class="text-center mb-4">Login to PlayTrust</h2>

       <form onsubmit="loginForm(event)">
        <div class="mb-3">
           <label for="email" class="form-label">Email</label>
           <input type="email" name="email" class="form-control" placeholder="Enter your Email" required>
        </div>

        <div class="mb-3">
           <label for="password" class="form-label">Password</label>
           <input type="password" name="password" id="password" class="form-control" placeholder="Enter Password" required>
        </div>
        <button type="submit" class="btn btn-primary w-100">Login</button>
  </form>
  <p class="mt-3 text-center">
    Don't have an account? <a href="/signup">Signup</a>
  </p>
  </div>
</div>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/login.js"></script>
</body>
</html>
